<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- Load Angular -->
    <script src="/angular/angular.min.js"></script>

    <!-- My App -->
    <script src="/index.js"></script>
</head>

<body ng-controller="MyCtrl as myCtrl"> <!-- can also be "MyCtrl as x" and {{ x. message }}-->
    <!--<h1>Message: {{ myCtrl.message }}</h1>
    <h2>Email: {{ myCtrl.email }}</h2>
    <p>Message: {{ myCtrl.message }}</p>
    Text: <input type="text" ng-model="myCtrl.message">-->

    <h1>Angular Form</h1>
    <form name="myForm" novalidate ng-submit="myCtrl.processForm()"> <!-- browser does not validate the form but Angular does -->
        Name: 
        <input type="text" name="name" ng-model="myCtrl.name">
        <br>
        <br>
        <button type="button" ng-click="myCtrl.clearForm()">Clear</button>
        <button type="submit">Submit</button>
        <button type="button" ng-click="myCtrl.hide()">Hide</button>
    </form>
</body>

</html>